<div class="row no-gutters">

    <div class="col-lg-4 pl-lg-2 mb-3">
        <div class="card h-lg-100">
            <div class="card-header">
                <div class="row flex-between-center">
                    <div class="col-auto">
                        <h6 class="mb-0">Nova tarefa</h6>
                    </div>
                    <div class="col-auto d-flex">

                    </div>
                </div>
            </div>
            <div class="card-body h-100 pr-0">
                <div class="echart-line-total-sales h-100" data-echart-responsive="true"></div>
                <!--Remover-->
                <div class="card mb-2 rounded-3 shadow-sm" style="margin-right: 20px;">

                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>10 users included</li>
                            <li>2 GB of storage</li>
                            <li>Email support</li>
                            <li>Help center access</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
                    </div>
                </div>
                <!---->
            </div>
        </div>
    </div>
    <div class="col-lg-4 pl-lg-2 mb-3">
        <div class="card h-lg-100">
            <div class="card-header">
                <div class="row flex-between-center">
                    <div class="col-auto">
                        <h6 class="mb-0">Á Fazer</h6>
                    </div>
                    <div class="col-auto d-flex">
                    </div>
                </div>
            </div>
            <div class="card-body h-100 pr-0">
                <div class="echart-line-total-sales h-100" data-echart-responsive="true"></div>
                <div class="card mb-2 rounded-3 shadow-sm" style="margin-right: 20px;">

                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>10 users included</li>
                            <li>2 GB of storage</li>
                            <li>Email support</li>
                            <li>Help center access</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
                    </div>
                </div>
                <div class="card mb-2 rounded-3 shadow-sm" style="margin-right: 20px;">

                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>10 users included</li>
                            <li>2 GB of storage</li>
                            <li>Email support</li>
                            <li>Help center access</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-4 pl-lg-2 mb-3">
        <div class="card h-lg-100">
            <div class="card-header">
                <div class="row flex-between-center">
                    <div class="col-auto">
                        <h6 class="mb-0">Feitas</h6>
                    </div>
                    <div class="col-auto d-flex">

                    </div>
                </div>
            </div>
            <div class="card-body h-100 pr-0">
                <div class="echart-line-total-sales h-100" data-echart-responsive="true"></div>
                <!--Remover-->
                <div class="card mb-2 rounded-3 shadow-sm" style="margin-right: 20px;">

                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>10 users included</li>
                            <li>2 GB of storage</li>
                            <li>Email support</li>
                            <li>Help center access</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
                    </div>
                </div>
                <!---->
            </div>
        </div>
    </div>

</div>