<div class="container">

    <div class="row marcador align-items-center">
        <div class="col mx-auto text-center">
            <img src="~/img/prodap.png"  style="width:50%;height:50%; margin-top:10%;" />
        </div>
    </div>

</div>